{%extends 'base.html'%}
{%load static%}
{%block content %}






<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap" style="display:flex; justify-content:center">

	<img src="{%static 'images/banners/3.jpeg'%}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">

	<h3 class="section-title">Popular products</h3>
</header>

	
<div class="row" id="product-container">
	{% for product in products.results %}
			<div class="col-md-3">
					<div class="card card-product-grid">
							<a href="{% url 'product' %}" class="img-wrap"><img src="{{ product.image }}"></a>
							<figcaption class="info-wrap">
									<a href="#" class="title">{{ product.name }}</a>

							</figcaption>
					</div>
			</div> <!-- col.// -->
	{% endfor %}
</div>


<div class="text-center mt-4">
	<button id="load-previous-btn" class="btn btn-primary mr-2">Load Previous</button>
	<button id="load-more-btn" class="btn btn-primary">Load More</button>
</div>







</div><!-- container // -->

</section>
<!-- ========================= SECTION  END// ========================= -->




<script>
	document.addEventListener("DOMContentLoaded", function() {
			var loadMoreBtn = document.getElementById("load-more-btn");
			var loadPreviousBtn = document.getElementById("load-previous-btn");
			var productContainer = document.getElementById("product-container");
			var nextPageUrl = "{{ products.next }}";
			var previousPageUrl = "{{ products.previous }}";
	
			loadMoreBtn.addEventListener("click", function() {
					fetchData(nextPageUrl);
			});
	
			loadPreviousBtn.addEventListener("click", function() {
					fetchData(previousPageUrl);
			});
	
			function fetchData(url) {
					fetch(url)
							.then(response => response.json())
							.then(data => {
									productContainer.innerHTML = ""; 
									data.results.forEach(product => {
											var productCard = document.createElement("div");
											productCard.className = "col-md-3";
											productCard.innerHTML = `
													<div class="card card-product-grid">
															<a href="{% url 'product' %}" class="img-wrap"><img src="${product.image}"></a>
															<figcaption class="info-wrap">
																	<a href="#" class="title">${product.name}</a>
																	<div class="price mt-1">$${product.price}</div>
															</figcaption>
													</div>
											`;
											productContainer.appendChild(productCard);
									});
	
									nextPageUrl = data.next; 
									previousPageUrl = data.previous; 
	

									if (!nextPageUrl) {
											loadMoreBtn.style.display = "none"; 
									} else {
											loadMoreBtn.style.display = "inline-block"; 
									}
	
									if (!previousPageUrl) {
											loadPreviousBtn.style.display = "none"; 
									} else {
											loadPreviousBtn.style.display = "inline-block"; 
									}
							})
							.catch(error => console.error('Error:', error));
			}
	});
	</script>
	
	
</body>
</html>

{%endblock%}